<div class="body404">
    <div class='c'>
        <div class='_404'>Not found</div>
        <br>
        <a routerLink="/">back to home</a>
    </div>
    <div class="img-404">
        <div class="img-404-dot">
            <div class="dotarea dot1"></div>
            <div class="dotarea dot2"></div>
            <div class="dotarea dot3" style="background-image: url(http://findinwayanad.in/3dobj/assets/img/icons/404-q.png)"></div>
        </div>
        <img src="http://findinwayanad.in/3dobj/assets/img/icons/404.png">
        <div class="img-404-dot">
            <div class="img-404-z">
                <div class="dot-sleep dot-sleep1" style="background-image: url(http://findinwayanad.in/3dobj/assets/img/icons/404-sleep.png)"></div>
                <div class="dot-sleep dot-sleep2" style="background-image: url(http://findinwayanad.in/3dobj/assets/img/icons/404-sleep.png)"></div>
                <div class="dot-sleep dot-sleep3" style="background-image: url(http://findinwayanad.in/3dobj/assets/img/icons/404-sleep.png)"></div>
            </div>
        </div>
    </div>
</div>