<nav class="navbar">
    <section class="navbar-search">
        <img src="assets/icons/search-24px.svg"> 
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput type="text" placeholder="Search">
        </mat-form-field>
    </section>
    <section class="navbar-head">
        <h1 routerLink="/">Item Cart</h1>
    </section>
    <section class="navbar-icons">
        <ul>
            <li><button mat-button><img src="assets/icons/notifications_none-24px.svg"></button></li>
            <li><button mat-button><img src="assets/icons/favorite_border-24px.svg"></button></li>
            <li><button mat-button><img src="assets/icons/shopping_cart-24px.svg"></button></li>
            <li><button mat-raised-button type="submit" (click)="loginRegisterClick()">Login</button></li>
            <li style="display: none;">
                <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>person_outline</mat-icon>Username</button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item>View Profile</button>
                    <button mat-menu-item>Logout</button>
                </mat-menu>
            </li>
        </ul>
    </section>
</nav>
<nav class="sub-navbar">
    <ul *ngIf="categories.length > 0">
        <li routerLinkActive="active" routerLink="/">All</li>
        <li *ngFor='let category of categories | slice:0:5; let i=index'>{{ category }}</li>
        <li (click)="moreOption()">{{ categories.length }} More +</li>
    </ul>
    <ul *ngIf="categories.length == 0">
        <li>No Category Added</li>
    </ul>
</nav>

<ul class="scroll-vertical side-menu" [class.active]="sideMenuCheck">
    <li *ngFor='let category of categories; index as i'>{{ category }}</li><!--{{ i + 1 }} -->
    <div class="side-menu-close" (click)="sideMenuClose()"></div>
    <div class="side-menu-close-button" (click)="sideMenuClose()"></div>
</ul>
<site-login-register [logRegActive]="logRegNav" (change)="logRegChange($event)"></site-login-register>