<footer class="footer">
    <div class="footer-left-area"></div>
    <div class="footer-sec-main">
        <section class="footer-sec-1">
            <div class="footer-logo">
                <span>Item Cart</span>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                industry.Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry.Lorem Ipsum is simply dummy text of the 
                printing and typesetting industry.Lorem Ipsum is simply dummy text…</p>
        </section>
        <section class="footer-sec-2">
            <h3>Company</h3>
            <ul>
                <li>Careers</li>
                <li>Contact Us</li>
                <li>Terms &amp; Privacy</li>
                <li>Copyright &amp; Trademark</li>
            </ul>
        </section>
        <section class="footer-sec-2">
            <h3>Company</h3>
            <ul>
                <li>Careers</li>
                <li>Contact Us</li>
                <li>Terms &amp; Privacy</li>
                <li>Copyright &amp; Trademark</li>
            </ul>
        </section>
        <section class="footer-sec-2">
            <h3>Company</h3>
            <ul>
                <li>Careers</li>
                <li>Contact Us</li>
                <li>Terms &amp; Privacy</li>
                <li routerLink="/admin">Admin Login</li>
            </ul>
        </section>
    </div>
    <div class="footer-right-area"></div>
</footer>
<footer class="footer-bottom">
    <span>Copyright © 2020</span>
</footer>