<section class="alignCenter">
    <h2>Admin Login</h2>
    <br>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" #username>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Paswword" #password>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit(username, password)">Submit</button>
    </form>
</section>